.squarecard {
  width: 200px;
  height: 200px;
  display: flex;
  padding: 15px;
  overflow: auto;
  box-shadow: 10px 10px 30px 0px #a8a8a8;
  box-sizing: border-box;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
@media(max-width: 479px) {
  .squarecard {
    width: 150px;
    height: 150px;
  }
}
.text {
  width: 100px;
  font-size: 18px;
  font-weight: bold;
}
